{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <title>index.html</title>

</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-askme" href="{% url 'index' %}">AskPupkin</a>
            <form class="d-flex">
                <input class="form-control me-2" id="navbar-search" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" id="navbar-ask" type="submit">ASK!</button>
            </form>
            {% block navbar %}
                <div id="navbar-user">
                    <img class="navbar-user-img" src="{% static '/img/photo_2023-10-11_14-38-49.jpg' %}" alt="avatar">
                    <div class="navbar-user-info">
                        <p style="color: white; font-size: 14px; margin: 5px 0 0">Dr. Pepper</p>
                        <div class="navbar-user-control">
                            <a href="{% url 'settings' %}" class="navbar-user-settings">settings</a>
                            <a href="{% url 'login' %}" class="navbar-user-logout" style="margin-left: 10px">log out</a>
                        </div>
                    </div>
                </div>
            {% endblock %}

        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% block content %}
                    Hello, it's empty block
                {% endblock %}
            </div>
            <div class="col-4">
                <div class="row" style="margin-left: 40px">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <span class="badge bg-primary"><a class="a tag" href="{% url 'tag' selected_tag='Python' %}">Python</a></span>
                        <span class="badge bg-secondary"><a class="a tag" href="{% url 'tag' selected_tag='CSS' %}">CSS</a></span>
                        <span class="badge bg-success"><a class="a tag" href="{% url 'tag' selected_tag='HTML' %}">HTML</a></span>
                        <span class="badge bg-info"><a class="a tag" href="{% url 'tag' selected_tag='Django' %}">Django</a></span>
                        <span class="badge bg-danger"><a class="a tag" href="{% url 'tag' selected_tag='JavaScript' %}">JavaScript</a></span>
                        <span class="badge bg-dark"><a class="a tag" href="{% url 'tag' selected_tag='Voloshin' %}">Voloshin</a></span>
                        <span class="badge bg-warning"><a class="a tag" href="{% url 'tag' selected_tag='bender' %}">bender</a></span>
                    </div>

                    <br/>
                    <h3 style="margin-top: 40px">Best Members</h3>
                    <ul class="list-group" style="max-width: 200px; margin-left: 15px">
                        <li class="list-group-item"><a href="#">An Item</a></li>
                        <li class="list-group-item"><a href="#">An Item 1</a></li>
                        <li class="list-group-item"><a href="#">An Item 234</a></li>
                        <li class="list-group-item"><a href="#">John Wick</a></li>
                        <li class="list-group-item"><a href="#">Booomb</a></li>
                        <li class="list-group-item"><a href="#">Hairu Ihei</a></li>

                    </ul>
                </div>
            </div>
        </div>


    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <!--<span class="text-muted">Place sticky footer content here.</span>-->
    </div>
</footer>


<script src="{% static '/js/bootstrap.js' %}"></script>

</body>
</html>
