{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
         <div class="col-9">
            <div class="col-5" style="display: inline-block">
                <h2 class="new_questions">Hot Questions</h2>
            </div>
            <div class="col-4" style="display: inline-block; padding-left: 15px">
                <a href="{% url 'index' %}" class="hot_questions">New Questions</a>
            </div>
        </div>
    </div>

    {% for question in questions %}
        {% include 'components/question-item.html' %}
    {% endfor %}
    <div class="pagination">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">52</a>
    </div>
{% endblock %}

