{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row" style="display: inline">
        <h2 class="new_questions" style="display: inherit">Tag: </h2>
        <h2 style="display: inherit; padding-left: 0">{{ selected_tag }}</h2>
    </div>

    {% for question in questions %}
        {% include 'components/question-item.html' %}
    {% endfor %}
    <div class="row question">
        <div class="col-2" style="margin-top: 20px">
            <img class="question-row-img" src="../static/img/photo_2023-10-11_14-38-49.jpg"
                 alt="question_img">
            <div style="width: 100%; height:50px; position: relative">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"
                     style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                    <button type="button" class="btn btn-outline-dark">+</button>
                    <button type="button" class="btn btn-outline-dark" disabled>5</button>
                    <button type="button" class="btn btn-outline-dark">-</button>
                </div>
            </div>
        </div>
        <div class="col-10 question-info">
            <div class="question-title"><a class="main-link" href="#">How to build a moon park?</a></div>
            <div class="question-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.</p>
            </div>
            <div class="row question-action">
                <div class="col-3 question-thread">
                    <a href="#">answer (3)</a>
                </div>

                <div class="col-9 question-tag">
                    <p style="margin: 0">Tags: <a href="#">black-jack</a> <a href="#">bender</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row question">
        <div class="col-2" style="margin-top: 20px">
            <img class="question-row-img" src="../static/img/photo_2023-10-11_14-38-49.jpg"
                 alt="question_img">
            <div style="width: 100%; height:50px; position: relative">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"
                     style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                    <button type="button" class="btn btn-outline-dark">+</button>
                    <button type="button" class="btn btn-outline-dark" disabled>5</button>
                    <button type="button" class="btn btn-outline-dark">-</button>
                </div>
            </div>
        </div>
        <div class="col-10 question-info">
            <div class="question-title"><a class="main-link" href="#">How to build a moon park?</a></div>
            <div class="question-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.</p>
            </div>
            <div class="row question-action">
                <div class="col-3 question-thread">
                    <a href="#">answer (3)</a>
                </div>

                <div class="col-9 question-tag">
                    <p style="margin: 0">Tags: <a href="#">black-jack</a> <a href="#">bender</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row question">
        <div class="col-2" style="margin-top: 20px">
            <img class="question-row-img" src="../static/img/photo_2023-10-11_14-38-49.jpg"
                 alt="question_img">
            <div style="width: 100%; height:50px; position: relative">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"
                     style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                    <button type="button" class="btn btn-outline-dark">+</button>
                    <button type="button" class="btn btn-outline-dark" disabled>5</button>
                    <button type="button" class="btn btn-outline-dark">-</button>
                </div>
            </div>
        </div>
        <div class="col-10 question-info">
            <div class="question-title"><a class="main-link" href="#">How to build a moon park?</a></div>
            <div class="question-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.</p>
            </div>
            <div class="row question-action">
                <div class="col-3 question-thread">
                    <a href="#">answer (3)</a>
                </div>

                <div class="col-9 question-tag">
                    <p style="margin: 0">Tags: <a href="#">black-jack</a> <a href="#">bender</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">52</a>
    </div>
{% endblock %}