{% load static %}

<div class="row question">
        <div class="col-2" style="margin-top: 10px">
            <img class="question-row-img" src="{{ answer.user.photo.url }}"
                 alt="question_img">
            <div style="width: 100%; height:50px; position: relative">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"
                     style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                    <button type="button" class="btn btn-outline-dark">+</button>
                    <button type="button" class="btn btn-outline-dark" disabled>{{ answer.like }}</button>
                    <button type="button" class="btn btn-outline-dark">-</button>
                </div>
            </div>
        </div>
        <div class="col-10 question-info">
            <div class="question-comment"><p>{{ answer.content }}</p>
            </div>
            <div class="form-check" style="margin-top: 30px">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1" style="font-size: 15px">Correct!</label>
            </div>
        </div>
    </div>